*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}

h1{
    font-size: 2.5rem;
    text-align: center;
}

h2{
    font-size: 1.5rem;
    text-align: center;
}

a{
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;
}
p{
    font-size: 1.2rem;
    text-align: justify;
}

.dotted-hr{
    border: dotted 6px #fff;
    border-bottom: none;
    margin: 20px auto;
    width: 70px;
}

[class*="col-"]{
    float: left;
    padding: 10px;
}

/* For mobile */
[class*="col-"]{
    width: 100%;
}

/* Navbar design starts from here */
#navbar{
    background-color: #0c6168;
    padding: 1% 7%;
    text-align: center;
}
.nav-heading h1{
    color: #fff;
    padding-top: 10px;
}

.nav-menu{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

.nav-menu a{
    margin: 7px 0;
    padding: 10px;
    border-radius: 10px;
    background-color: #40868b;
    transition: .5s;
}

.nav-menu a:hover{
    background-color: grey;
}

.nav-logo img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid #fff;
    transition: .5s;
}

.nav-logo img:hover{
    cursor: pointer;
    transform: scale(1.1);
}

#navbar::after{
    content: "";
    clear: both;
    display: table;
}
/* Navbar design ends here */



/* Profile design sharts from here */
#profile{
    padding: 100px 10px;
    position: relative;
    text-align: center;
}

#profile .top-weather-icon{
    position: absolute;
    right: 60px;
    top: 15px;
    width: 80px;
    transition: transform 2s;
}

#profile .top-weather-icon:hover {
    transform: rotate(360deg);
    cursor: pointer;
}

.pro-title h1{
    font-family: 'Satisfy', cursive;
    font-size: 3rem;
}

.pro-description p{
    color: grey;
    margin: 20px auto 20px auto;
    text-align: center;
    width: 90%;
}

#profile .bottom-weather-icon{
    position: absolute;
    left: 60px;
    bottom: 20px;
    width: 80px;
    transition: transform 2s;
}

#profile .bottom-weather-icon:hover {
transform: rotate(360deg);
cursor: pointer;
}

#profile::after{
    content: "";
    display: table;
    clear: both;
}

/* Profile design ends here */



/* About me design starts from here */
#about-me{
    background-color: #39a4ac;
    padding: 1% 7%;
    color: #fff;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.about-me-img img{
    width: 200px;
    height: 220px;
    border: 5px solid #fff;
    border-radius: 50%;
    transition: transform 2s;
    cursor: pointer;
}

.about-me-img img:hover{
    transform: scale(1.1);
}

.about-me-desc p{
    text-align: center;
    font-size: 1.2rem;
    padding: 10px;
}

.cv-button{
    background-color: #052d2f;
    color: #fff;
    padding: 15px;
    border-radius: 12px;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    font-size: 1.2rem;
    transition: 1s;
    border: none;
}

.cv-button:hover{
    background-color: #fff;
    color: #052d2f;
}


#about-me::after{
    content: " ";
    display: table;
    clear: both;
}

/* About me design ends here */


/* Skills design starts from here */

#skills{
    padding: 2%;
}
#skills{
    clear: both;
    content: ' ';
    display: table;
}

.work-experience{
    background-color: #a39e9e;
    border-radius: 5px;
    padding: 10px;
    transition: .5s;
    margin-right: 1%;
    margin-bottom: 15px;
    margin-top: 8px;
}

.work-experience:hover{
    box-shadow: 0px 4px 8px 5px black;
}

.work-icon{
    text-align: center;
}

.work-icon img{
    margin: 20px 0px;
    width: 100px;
    height: 100px;
    padding: 15px;
    border: 2px solid #fff;
    border-radius: 50%;
}

.work-title h2{
    background-color: #616161;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}



.work-experience::after{
    clear: both;
    display: table;
    content: "";
}


.education{
    background-color: #a39e9e;
    border-radius: 5px;
    padding: 10px;
    transition: .5s;
    margin-bottom: 15px;
    margin-right: 1%;
}

.education:hover{
    box-shadow: 0px 4px 8px 5px black;
}

.work-icon{
    text-align: center;
}

.work-icon img{
    margin: 20px 0px;
    width: 100px;
    height: 100px;
    padding: 15px;
    border: 2px solid #fff;
    border-radius: 50%;
}

.work-title h2{
    background-color: #616161;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}



.work-experience::after{
    clear: both;
    display: table;
    content: "";
}




.skills{
    background-color: #a39e9e;
    border-radius: 5px;
    padding: 10px;
    transition: .5s;
    float: left; 
    margin-bottom: 15px;
    width: 100%;

}
.skills:hover{
    box-shadow: 0px 4px 8px 5px black;
}
.skills-container li{
    text-transform: uppercase;
    font-weight: bolder;
    margin: 26px 45px;
    list-style-type: none;
    position: relative;
}
.skills-container li::before{
    content: "";
    background: rgb(86,86,153, .5);
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: 100%;
    height: 15px;
    border-radius: 1000px;
}
.skills-container li::after{
    content: "";
    background: rgb(86,86,153, .5);
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: 0;
    height: 15px;
    border-radius: 1000px;

    animation-duration: 3s;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
.skills-container li.html::after{
    animation-name: html;
}
@keyframes html{
    to{
        width: 90%
    }
}
.skills-container li.css::after{
    animation-name: css;
}
@keyframes css{
    to{
        width: 85%
    }
}
.skills-container li.bootstrap::after{
    animation-name: brootstrap;
}
@keyframes brootstrap{
    to{
        width: 70%
    }
}
.skills-container li.javascript::after{
    animation-name: javascript;
}
@keyframes javascript{
    to{
        width: 70%
    }
}
.skills-container li.jquery::after{
    animation-name: jquery;
}
@keyframes jquery{
    to{
        width: 40%
    }
}
.skills-container li.node-js::after{
    animation-name: node-js;
}
@keyframes node-js{
    to{
        width: 0%
    }
}
.skills-container li.express-js::after{
    animation-name: express-js;
}
@keyframes express-js{
    to{
        width: 0%
    }
}
.skills-container li.react-js::after{
    animation-name: react-js;
}
@keyframes react-js{
    to{
        width: 20%
    }
}
.skills-container li.english::after{
    animation-name: english;
}
@keyframes english{
    to{
        width: 60%
    }
}


.skills::after{
    clear: both;
    display: table;
    content: "";    
}

/* Skills design ends here */


/* Contact section design starts here */
#contact{
    padding: 1% 7%;
    color: #fff;
    background: #39a4ac;
}

.contact{
    text-align: center;
}
.contact p input, textarea{
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    text-align: center;
    border: none;
    border-radius: 5px;
    resize: none;
    margin-bottom: 20px;

}
.contact button{
    border: none;
    border-radius: 12px;
    background-color: #052d2f;
    color: #fff;
    cursor: pointer;
    padding: 15px 20px;
    margin: 0 10px;
    width: 100px;
    font-weight: bold;
    font-size: 17px;
    transition: .7s
}
.contact button:hover{
    background-color: #fff;
    color: #052d2f;
}
.contact-link{
    text-align: center;
    padding-top: 50px;
  
}
.media-buttons .btn{
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 32px;
    padding: 5px;
    margin: 10px;
    width: 50px;
    background-color: #fff;
    transition: .5s;


}
.media-buttons .btn:hover{
    transform: scale(1.1);
    border: none;
}
.media-buttons{
    padding: 20px 0px;
}


#contact::after{
    clear: both;
    content: ' ';
    display: table;
}


 /* Contact section design ends here  */


 /* footer starts from here */
 footer{
     background-color: #000;
     color: #fff;
     padding: 20px;
     text-align: center;
     font-size: .8rem;
 }
 .footer-menu a{
     display: block;
     margin: 15px 0;
     transition: .5s;
     font-size: 1rem;
 }
 .footer-menu a:hover{
     color: grey;
    
 }


 footer::after{
     clear: both;
     content: '';
     display: table;
 }
  /* footer ends here */